<% content_for :page_styles do  %>

<% end %>
<% content_for :page_content do %>
    <div id='content-holder' class="">
      <!-- main area -->
      <div class="col-lg-9" style="min-height:320px;">
      	<div class="page-header" style="margin-top: -20px;">
                <h1>
                    <%= @page.page_title %>
                    <% unless @page.page_subtitle.blank? %>
                    <small><%= @page.page_subtitle %></small>
                    <% end %>

                </h1>
                <%= render 'shared/sharing_widget' %>
      	</div>
        <%= raw(@page.body) %>

      </div><!-- /.col-xs-12 main -->
      <!-- start sidebar -->
        <%= render 'pages/sidebar' %>
      <!-- end sidebar -->
    </div>
<% end %>