<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= @meta[:title] %></title>
    <%= render 'shared/meta_info' %>
    <%= csrf_meta_tags %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', :media => 'all' %>
  <!--page specific styles goes here -->
    <%= yield :page_styles %>
    <!--page specific styles ends here -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
		<![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	  <%= favicon_link_tag '/favicon.ico', :type => 'image/x-icon' %>
</head>

<body>
	<div class="intro-header">
      <div class="container">
	      <%= link_to '/' do %>
			    <%= image_tag 'front/liwad_header.png' %>
				<% end %>
	      <p class="pull-right" style="margin-top:15px; color:#147ec5; font-size:18px">
          <a href="https://www.facebook.com/?q=#/pages/Limay-Water-District/1498438307085675" target="_blank"><span class="fa fa-facebook-square"></span></a>
          <a href=""><span class="fa fa-twitter-square"></span></a>
          <a href=""><span class="fa fa-google-plus-square"></span></a>
          |  <strong><span class="fa fa-phone-square"></span> +63-47-244-5274</strong>
        </p>
      </div>
  </div>
<!--<#%= render 'shared/fb_init' %>-->
<!-- start header here -->
<%= render 'layouts/navigation'  %>
<!-- end header here -->

<% if @banners.any? %>
<!--banners goes here -->
	<%= render 'layouts/main_banners' %>
<!--banners ends here -->
<% end %>
<br />

<div class="content2">
	<div class="container">
		<h1 align="center" style="color:#FFF">Welcome to our Official Website!</h1>
    </div>
</div>
<div class="clearfix"></div>
<div id="main-section">

  <%= yield :page_content %>

</div>

<!-- footer starts here -->
<%= render 'layouts/footer'  %>
<!-- footer ends here -->

<!-- Scripts -->
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'main' %>

<script type="text/javascript">
    $(document).ready(function ($) {
        var articles = $('#highlights-holder').find('.article');
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                always_show_close: true
            });
        });

        if(articles.length > 0){
            loopArticles(0);
        };

        function loopArticles(idx){
            if(idx > (articles.length - 1)){
                idx = 0;
            }
            articles.eq(idx)
                    .delay(500)
                    .fadeIn(500, function(){
                        $('#h-loader').fadeOut();
                    })
                    .delay(7000)
                    .fadeOut(700, function(){
                        $('#h-loader').fadeIn(500);
                        loopArticles(idx+1);
                    });

        }
    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55966112-1', 'auto');
  ga('send', 'pageview');

</script>
<%= yield :page_scripts %>
</body>



</html>
